$space-large: 2.5rem;
$title-color: #00a3e0;


html {
  font-family: sans-serif;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #0a0a0a;
  background: #fefefe;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
  margin: 0;
  padding: 0;
}



input {
  margin-bottom: 0;
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  padding: .5rem;
  border: 1px solid #cacaca;
  margin: 0 0 1rem;
  font-family: inherit;
  font-size: 1rem;
  color: #0a0a0a;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
  border-radius: 0;
  transition: box-shadow .5s,border-color .25s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: border-box;
}


*, :after, :before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.4;
}


h1 {
  font-size: 1.5rem;
}


a {
  color: white;
  text-decoration: none;
  line-height: inherit;
  cursor: pointer;
}



.page-title {
  color: $title-color;
  margin-top: $space-large;
  margin-bottom: $space-large;
}

h1.page-title {
  height: 280px;
}

.top-bar {
  padding: .5rem;
}


.top-bar, .top-bar ul {
  background-color: $title-color;
}

.top-bar {
  &:after, &:before {
    content: ' ';
    display: table;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  &:after {
    clear: both;
  }
}

.menu {
  a,  .button, input {
    margin-bottom: 0;
  }
}

.top-bar {
  input {
    width: 200px;
    margin-right: 1rem;
  }
}

input[type=search] {
  box-shadow: none;
}

.top-bar input {
  &.button {
    width: auto;
  }
}

.top-bar-right {
  float: right;
}

.top-bar-left, .top-bar-right {
  width: 100%;
}

.menu {
  margin: 0;
  list-style-type: none;
}

.menu  {
  li {
    display: table-cell;
    vertical-align: middle;
    a {
      display: block;
      padding: .7rem 1rem;
      line-height: 1;
    }
  }
}

.menu-text {
  font-weight: 800;
  color: inherit;
  line-height: 1;
  padding: .7rem 1rem;
}

.row {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

.row {
  &:after, &:before {
    content: ' ';
    display: table;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  &:after {
    clear: both;
  }

}
.column, .columns {
  width: 100%;
  float: left;
  padding-left: .625rem;
  padding-right: .625rem;
}



.text-center {
  text-align: center;
}
h1.text-center {
    padding-top: 1.5em;
    font-size: 3em;
}

.button {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color .25s ease-out,color .25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: .85em 1em;
  font-size: .9rem;
  font-weight: 900;
  background-color: orangered;
  color: #fefefe;
}

.button {
  &.hollow {
    background-color: transparent;
    border: 1px solid orangered;
    color: orangered;
  }
}


.button {
  &.expanded {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

}

.about-links {
  color: orangered;
  font-weight: 700;
  font-size: .8rem;
}
.link-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  li {
    align-self: center;
    padding: 0;

  }
}

@media screen and (min-width: 15em) {

  .link-list {
    li {
      padding: 0.5em;
    }
  }


}


@media screen and (min-width: 25em) {

  h1.page-title {
    height: 300px;
  }
  .about-links {
    font-size: 1.2rem;
  }

}


@media screen and (min-width: 40em) {


  h1 {
    font-size: 3rem;
  }

  .top-bar-left, .top-bar-right {
    width: auto;
  }

  .column, .columns {
    padding-left: .9375rem;
    padding-right: .9375rem;
  }


}

.top-bar-left {
  float: left;
}



.small-centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.weather-block {
  display: flex;
  flex-direction: column;
}

.git-link {
  color: orangered;
  font-weight: 700;
}

.demo {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

.demo h1 {
  margin-top: 0;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 1rem ;
  background-color: $title-color;
  text-align: center;
  height: 3rem;
}

@media screen and (min-width: 30em) {
  h1.page-title {
    height: 400px;
  }
}

@media screen and (min-width: 40em) {
  h1.page-title {
    height: 320px;
  }
  .medium-6 {
    width: 50%;
  }
}

@media screen and (min-width: 64em) {


  .large-4 {
    width: 33.33333%;
  }

}


